body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  section {
    margin: 2em;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h2 {
    color: #333;
    margin-bottom: 1em;
  }

  p {
    color: #555;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center align items vertically */
  }

  .service {
    width: 40rem;
    padding: 1em;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .service img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
  }

  .service h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
  }

  .service p {
    color: #777;
  }

  #team .team-member {
    text-align: center;
  }

  .white-txt{
    color: white;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }